.quarto/
.jupiter_cache/
.freeze/
.luarc.json

posts/**/.jupyter_cache
posts/**/*.pth
posts/**/*.html
posts/**/.data/
posts/**/checkpoints/
posts/**/mlruns/
posts/**/adapter/
posts/**/Qwen/
posts/**/__pycache__/
posts/**/model/

python-for-students_files/
python-for-students/**/.jupyter_cache
posts/**/*.html
posts/**/__pycache__/

/.luarc.json

/.quarto/
