/.jupiter_cache/
/_freeze/
/.luarc.json
/*.log
/.DS_Store
/.quarto

posts/**/.jupyter_cache
posts/**/*.pth
posts/**/*.html
posts/**/.data/
posts/**/checkpoints/
posts/**/mlruns/
posts/**/adapter/
posts/**/Qwen/
posts/**/__pycache__/
posts/**/model/
posts/**/.nobuild

python-for-students_files/
python-for-students/**/.jupyter_cache
posts/**/*.html
posts/**/__pycache__/

/.quarto/
