jupyter-book
sphinx-sitemap
ase
matplotlib
numpy
pandas
plotly
gensim
nltk
scikit-learn
seaborn
tensorflow
tf-keras
transformers
scipy
xgboost
catboost
dtreeviz
folium
pydata-sphinx-theme
imbalanced-learn
statsmodels
kaggle
kneed
tqdm
setuptools
sympy
imblearn
torch
pykan
ez_setup
moviepy
noise
scikit-image
sphinx_last_updated_by_git
sphinx-copybutton
sphinxext-opengraph
sphinxcontrib-mermaid
sphinx-comments
fastparquet
pyarrow
ipywidgets
